html {
    font-family: Roboto;
}

header{
    background-color: black;
}
.logo{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 100px;
    display: inline;
}
.icon-menu{
    width: 10%;
    margin-left: 150px;
    margin-right:auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.container{
    display: inline;
}
.container-1{
    background-color: #52A0F3;
    background-image: url(/promo-X-module-1-pair-3-spotify/imagenes/premium_dancer.png display:none);
    color: white;
}

.main-menu{
    display: none;
}

h1{
    font-size: 30px;
    font-weight: bold;
}