.container-1{
  background-color: #52A0F3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  background-image: url("../images/premium_dancer.png"); 
  color: white;
  height: 50vh;
  padding: 20px;
}
.slogan{
  line-height: 1.5;
  font-size: 2rem;
}
.condiciones{
  font-size: 1.2rem;
}
.main-menu{
  display: none;
}
h1{
  font-size: 30px;
  font-weight: bold;
}
.boton{
  background-color: #26B758;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 2px;
}