.container-1{
  background-color: #52A0F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  color: white;
  height: 50vh;
  padding: 20px;
  @media (width > 768px){
    background-image: url("../images/premium_dancer.png"); 
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    justify-content: flex-start;
    padding-top: 60px;
  }
  .contenido-bloque-azul{
    max-height: 80%;
  }
}
.slogan{
  line-height: 1.5;
  font-size: 16px;
  padding-top: 20px;
    @media (width > 768px){
      font-size: 2rem;
      font-weight: bold;
    }
}
.condiciones{
  font-size: 10px;
  @media (width > 768px){
    font-size: 1rem;
    width: 50%;
  }
}
.main-menu{
  display: none;
  @media (width > 768px){
    display: flex;
    align-items: center;
     gap: 20px;
  }
}
h1{
  font-size: 30px;
  font-weight: bold;
}
.boton{
  background-color: #26B758;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 2px;
    @media (width > 768px){
      max-width: 15%;
      font-size: 12px;
    }
}
@media (width > 768px){
    .icon-menu{
    display: none;
    }
    .main-menu a{
          text-decoration: none;
          color: white;
          font-weight: bold;
      }
      .main-menu li{
          color: white;
      }
      .menu{
          display: flex;
      
      }
    }


 