.legalcookies{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
}

.bandera{
  width: 25%;
  padding-left: 5px;
}

.copyright{
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.españa p{
  text-align: right;
}

.españa{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

