.cabecera{
  background-color: black;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;
}
.logo{
  width: 120px;
}
.icon-menu{
  width: 40px;
}
